v<!doctype html>
<html ng-app="plunker">

<head>
  <script src="Http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="script.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	 <div ng-controller="PaginationDemoCtrl">
      <table class="table">
        <tr ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
          <td>{{row.id}}</td>
          <td>
			<img ng-src="{{row.name}}" style="width: 100px; height: 100px; ">
		  </td>
        </tr>
      </table>  
      <pagination
		  total-items="totalItems" 
		  ng-model="currentPage" 
		  max-size="maxSize"
		  class="pagination-sm" 
		  boundary-links="true" 
		  rotate="false" 
		  num-pages="numPages" 
		  items-per-page="itemsPerPage">
	  </pagination>
      <pre>Page: 
		{{currentPage}} / {{numPages}}
	    NumItem: {{totalItems}}
	  </pre>
    </div>	
</body>

</html>
